<%= erb :header %>
<% range_start = @semester_start.strftime("%Y-%m-%d") %>
<% range_end = @semester_end.strftime("%Y-%m-%d") %>
<% semester_name = @semester.capitalize %>
<% DB.fetch "SET sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));" do end %>
<div class="container container-wide">
   <div style="display: flex; align-items: center; flex-wrap: wrap; gap: 1rem">
   <h2>Calendar</h2>
   <form action="/calendar" method="get" style="display: inline-flex; align-items: center; gap: 0.5rem;">
      <label for="semester-select" style="margin: 0;">Semester</label>
      <select id="semester-select" name="semester" style="margin: 0;">
         <option value="fall" <%= "selected" if @semester == "fall" %>>Fall (Aug-Dec)</option>
         <option value="spring" <%= "selected" if @semester == "spring" %>>Spring (Jan-May)</option>
         <option value="summer" <%= "selected" if @semester == "summer" %>>Summer (Jun-Jul)</option>
      </select>
      <label for="semester-year" style="margin: 0;">Year</label>
      <input id="semester-year" name="year" type="number" value="<%= @semester_year %>" min="2000" max="2100" style="width: 6rem; margin: 0;" />
      <button type="submit" class="btn btn-small">Apply</button>
   </form>
   <small style="margin-left: 0.5rem;">Range: <%= semester_name %> <%= @semester_year %> (<%= @semester_start.strftime("%b %-d") %> - <%= @semester_end.strftime("%b %-d") %>)</small>
   <details class="" style="margin-left: 3rem">
      <summary style="list-style: none">Legend</summary>
   </details>
   <table style="border: 1px solid #000; height: 38px; border-left: none; border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
      <thead>
         <tr>
            <th style="width:70px; height:34px; text-align: center; background-color: var(--missing-color); color: White">Absent</th>
            <th style="width:70px; height:34px; text-align: center; background-color: var(--present-color); color: White">Present</th>
            <th style="width:70px; height:34px; text-align: center; background-color: var(--excused-color)">Optional</th>
            <th class="stripe-bg" style="width:70px; height:34px; --color-a: var(--excused-color); --color-b: var(--partial-color); text-align: center; border-top-right-radius: 4px; border-bottom-right-radius: 4px;">Excused</th>
         </tr>
      </thead>
   </table>
   </div>
      <div class="cheesy-row" style="clear: right">
        <div style="overflow-x: scroll; padding-bottom: 64px;" class="column2">
         <div>
            <table style="table-layout: fixed; margin-bottom: 0px" class="table table-striped table-bordered table-condensed">
               <tr>
                  <% DB.fetch BUILD_DAYS_RANGE_QUERY, range_start, range_end do |build_date| %>
                        <th style="width:60px; height:45px; padding-left: 0; padding-right: 0; text-align: center" title="<%= build_date[:build_date].strftime("%A, %B %-d, %Y") %>">
                           <%= build_date[:build_date].strftime("%m/%d") %>
                           <% if build_date[:optional] == 1 %>
                              <br/>
                              <a href="/delete_optional/<%=build_date[:build_date]%>"><small style="font-size: 0.65em">(Optional)</small></a>
                           <% else %>
                              <br/>
                              <a href="/schedule_optional?date=<%=build_date[:build_date]%>" class="visible-if-parent-hover"><small style="font-size: 0.65em; padding: 0px 8px;">+optional</small></a>
                           <% end %>
                        </th>
                  <% end %>
               </tr>
            </table>
            <table style="table-layout: fixed;" class="table table-striped table-bordered table-condensed column-based" id="color-grid">
               <% studentsCnt = Student.count %>
               <% rowNum = 1 %>
               <% DB.fetch CALENDAR_BUILD_INFO_RANGE_QUERY, range_start, range_end, range_start, range_end do |row| %>
                   <% student_id = row[:student_id] %>
                   <% session_id = row[:session_id] rescue nil %>
                   <% build_date = row[:build_date] %>
                   <% attended = row[:attended] %>
                   <% required = row[:required] %>
                   <% excused = row[:excused] %>
                  <% if (rowNum.modulo(studentsCnt) == 1) %>
                     <tr style="width: 61px">
                  <% end %>
                  <% if (attended == 1) %>
                     <td style="background-color: var(--present-color); min-width:50px; height:30px;">
                        <div class="btn-group visible-if-parent-hover">
                           <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                              <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li><a href="/lab_sessions/<%=session_id%>/edit">Edit Lab Session</a></li>
                              <li><a href="/lab_sessions/<%=session_id%>/delete" class="text-error">Delete Lab Session</a></li>
                           </ul>
                        </div>
                     </td>
                  <% elsif (excused == 1 && required == 1) %>
                     <td style="--color-a: var(--excused-color); --color-b: var(--partial-color); min-width:50px; height:30px;" class="stripe-bg">
                        <div class="btn-group visible-if-parent-hover">
                           <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                              <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li><a href="/students/<%=student_id%>/excusals/<%=build_date%>/delete">Unexcuse</a></li>
                           </ul>
                        </div>
                     </td>
                  <% elsif (!(required == 1)) %>
                     <td style="background-color: var(--excused-color); min-width:50px; height:30px;">
                        <div class="btn-group visible-if-parent-hover">
                           <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                              <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li><a href="/students/<%=student_id%>/new_lab_session?date=<%=build_date%>">Add Lab Session</a></li>
                           </ul>
                        </div>
                     </td>
                  <% else %>
                     <td style = "background-color: var(--missing-color); min-width:50px; height:30px;">
                        <div class="btn-group visible-if-parent-hover">
                           <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                              <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li><a href="/students/<%=student_id%>/new_lab_session?date=<%=build_date%>">Add Lab Session</a></li>
                              <li><a href="/students/<%=student_id%>/mark_excused?date=<%=build_date%>">Excuse Student</a></li>
                           </ul>
                        </div>
                     </td>
                  <% end %>
                  <% if (rowNum.modulo(studentsCnt) == 0) %>
                     </tr>
                  <% end %>
                  <% rowNum += 1 %>
               <% end %>
            </table>
         </div>
      </div>
      <div class="column1">
            <table style="table-layout: fixed;" class="table table-striped table-bordered table-condensed">
              <tr>
                <th style="width:65px; height:45px; text-align: center">Builds Attended</th>
                <th style="width:80px; height:45px; text-align: center">Attendance Rate</th>
                <th style="width:65px; height:45px; text-align: center">Student ID</th>
                <th style="width:200px; height:45px; text-align: center">Name (Unexcused)</th>
               </tr>
               <% DB.fetch CALENDAR_STUDENT_INFO_RANGE_QUERY, range_start, range_end do |row|
                  student = Student[row[:student_id]]
                  %>
                  <tr style="width: 410px">
                     <td style="width:65px; height:30px;"><%=row[:total_attended_count]%></td>
                     <td style ="width:80px; height: 30px"><%=(100 * row[:required_attended_count].to_f/row[:required_count]).to_i rescue "0"%>%</td>
                     <td style="width:65px; height:30px;"><%=student.id%> </td>
                     <td
                        style="width:200px; height:30px; white-space: nowrap;"
                        title="<%=student.first_name + " " + student.last_name%>"
                     ><a href="/students/<%= student.id %>"><%= student.first_name %> <%= student.last_name %></a>
                        <span title="Unexcused absences in range">(<%= row[:unexcused_count].to_i %>)</span></td>
                  </tr>
              <% end %>
            </table>
            <div style="display: flex; gap: 1.5em">
               <% if @user.has_permission?("HOURS_VIEW_REPORT") %>
                  <h4><a href="/csv_attendance_report">Download CSV Report</a></h4>
               <% end %>
               <h4><a href="/optionalize_past_offdays">Optionalize Past Off-days</a></h4>
            </div>
        </div>
</div>
<script>
    var left = $('.column2').width() * 2;
    $('.column2').scrollLeft(left);
    $('#color-grid').children().children('tr:nth-last-child(2)').children().children().children(".dropdown-menu").addClass("pull-right")
    $('#color-grid').children().children('tr:nth-last-child(1)').children().children().children(".dropdown-menu").addClass("pull-right")
</script>
<%= erb :footer %>
