<%= erb :header %>

<script>
  var timeOffset = " -0" + (new Date()).getTimezoneOffset() / 60 + "00";
</script>

<div class="container">
  <h2>Edit lab session</h2>
  <form action="" method="POST">
    <input type="hidden" name="referrer" value="<%= @referrer %>" />
    <label>Time in (e.g. 2014-01-04 13:00:00)</label>
    <input type="text" name="time_in"
        value="<%= @lab_session.time_in.in_time_zone("America/Los_Angeles") rescue "" %>"
        onchange="if (!this.value.endsWith(timeOffset)) { this.value = this.value.concat(timeOffset); }"
        />
    <label>Time out (e.g. 2014-01-04 20:00:00)</label>
    <input type="text" name="time_out"
        value="<%= @lab_session.time_out.in_time_zone("America/Los_Angeles") rescue "" %>"
        onchange="if (!this.value.endsWith(timeOffset)) { this.value = this.value.concat(timeOffset); }" 
        />
    <label>Notes (e.g. description of non-lab work)</label>
    <textarea name="notes"><%= @lab_session.notes rescue "" %></textarea>
    <label><input type="submit" class="btn btn-success btn-medium" value="Save"></label>
  </form>
</div>

<%= erb :footer %>
