<h4>Currently signed in</h4>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <% if @user %>
      <th>Name</th>
    <% else %>
      <th>Student ID</th>
    <% end %>
    <th>Time In</th>
    <% if @user && @user.has_permission?("NONTECH_HOURS_EDIT") %>
      <th>Action</th>
    <% end %>
  </tr>
  <% @signed_in_sessions.sort_by { |session| session.student.last_name }.each do |session| %>
    <tr>
      <% if @user %>
        <td><%= session.student.first_name %> <%= session.student.last_name %></td>
      <% else %>
        <td><%= session.student_id %></td>
      <% end %>
      <td><%= session.time_in.in_time_zone("America/Los_Angeles").strftime("%D %l:%M %p") %></td>
      <% if @user && (@user.has_permission?("NONTECH_HOURS_EDIT") || @user.has_permission?("NONTECH_HOURS_DELETE")) %>
        <td>
          <% if @user.has_permission?("NONTECH_HOURS_EDIT") %>
            <span style="white-space: nowrap;">
              <a href="/lab_sessions/<%= session.id %>/sign_out" class="btn btn-primary btn-small">Sign Out</a>
            </span>
          <% end %>
          <% if @user.has_permission?("NONTECH_HOURS_DELETE") %>
            <span style="white-space: nowrap;">
              <a href="/lab_sessions/<%= session.id %>/delete" class="btn btn-danger btn-small">Delete</a>
            </span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if @signed_in_sessions.count > 1 %>
  <h4><%= @signed_in_sessions.count %> students</h4>
<% end %>
