<%= erb :header %>

<div class="container">
    <% if @user.has_permission?("HOURS_EDIT") %>
      <div class="pull-right" style="margin-top: 20px;">
        <a href="/students/<%= @student.id %>/new_lab_session" class="btn btn-success btn-small">
          New Lab Session
        </a>
      </div>
    <% end %>
    <h2><%= @student.first_name %> <%= @student.last_name %></h2>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Project Hours</th>
        <th>Signed Out By</th>
        <th>Excluded From Total</th>
        <th>Notes</th>
        <% if @user.has_permission?("HOURS_EDIT") %>
          <th>Action</th>
        <% end %>
      </tr>
      <% @student.lab_sessions.sort_by(&:id).each do |session| %>
        <tr>
          <td><%= session.time_in.in_time_zone("America/Los_Angeles").strftime("%D %l:%M %p") rescue "" %></td>
          <td>
            <%= session.time_out.in_time_zone("America/Los_Angeles").strftime("%D %l:%M %p") rescue "" %>
          </td>
          <td><%= session.duration_hours.round(1) %></td>
          <td><%= session.mentor ? "#{session.mentor.first_name} #{session.mentor.last_name}" :
              session.mentor_name %></td>
          <td><%= session.excluded_from_total %></td>
          <td><%= session.notes %></td>
          <% if @user.has_permission?("HOURS_EDIT") %>
            <td>
              <span style="white-space: nowrap;">
                <a href="/lab_sessions/<%= session.id %>/edit" class="btn btn-primary btn-small">Edit</a>
                <a href="/lab_sessions/<%= session.id %>/delete" class="btn btn-danger btn-small">Delete</a>
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% if @user.has_permission?("HOURS_EDIT") %>
      <div style="margin-top: 6.5rem"></div>
      <div class="pull-right">
        <a href="/students/<%= @student.id %>/mark_excused" class="btn btn-success btn-small">
            Add Excusal
          </a>
      </div>
      <h3>Excusals</h3>
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>Date</th>
          <th>Action</th>
        </tr>
        <tbody>
          <% @student.excused_sessions.each do |excusal| %>
            <tr>
              <td><%=excusal.date.strftime("%m/%d/%y")%></td>
              <td>
                <a href="/students/<%=@student.id%>/excusals/<%=excusal.date.strftime("%Y-%m-%d")%>/delete" class="btn btn-danger btn-small">Delete</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= erb :footer %>
